<div class="panel panel-primary">
  <div class="panel-heading">
      Edit Work
  </div>
  <!-- /.panel-heading -->
  <form [formGroup]="workForm">
  <div class="panel-body alert-info">
      
        <div class="col-lg-6">                            
                        
          <div class="form-group">
            <label>Work Name</label>
            <input class="form-control" formControlName='workname' placeholder="country code" [(ngModel)]="workForm.value.workname">
            <div style="font-size: 10px; color: red;" *ngIf="(workForm.controls['workname'].touched || workForm.controls['workname'].dirty) && !workForm.controls['workname'].valid">                                                                          
                <span *ngIf="workForm.controls['workname'].hasError('required') ">  
                  Please enter work.
                </span> 
                <span *ngIf="typeForm.controls['companytype'].hasError('minlength') ">  
                    Company type min length is 3.  
                </span>  
                <span *ngIf="typeForm.controls['companytype'].hasError('maxlength') ">  
                  Company type max length is 256.  
               </span>                                                                                                                   
            </div>
          </div>     
                                
      </div>
                          
  </div>
  <div class="panel-footer">
      <button type="button" class="btn btn-outline btn-success" [disabled]="workForm.invalid" (click)="updateWork()">Update
        <i class="fa fa-save"></i>
      </button>
      &nbsp;
      <button type="button" class="btn btn-outline btn-danger" (click)="deleteWork()">Delete
        <i class="fa fa-times-circle"></i>
      </button>
      &nbsp;
      <button type="button" class="btn btn-outline btn-info" [routerLink]="['../../list']">Back
        <i class="fa fa-backward"></i>
      </button>
      
  </div>
</form>
</div>

