<div class="panel panel-primary">
    <div class="panel-heading">
        Create Position
    </div>
    <!-- /.panel-heading -->
    <form [formGroup]="positionForm">
    <div class="panel-body alert-info">        
          <div class="col-lg-6">
            <div class="form-group">
              <label>Position Name</label>
              <input class="form-control" formControlName='positionName' placeholder="position name" [(ngModel)]="positionForm.value.positionName" uppercase>
              <div style="font-size: 10px; color: red;" *ngIf="(positionForm.controls['positionName'].touched || positionForm.controls['positionName'].dirty) && !positionForm.controls['positionName'].valid">
                  <span *ngIf="positionForm.controls['positionName'].hasError('required') ">  
                    Please enter position name.
                  </span> 
                  <span *ngIf="positionForm.controls['positionName'].hasError('minlength') ">  
                    Position name min length is 3.  
                  </span>  
                  <span *ngIf="positionForm.controls['positionName'].hasError('maxlength') ">  
                    Position name max length is 50.  
                 </span>                                                                                                                       
              </div>
            </div>                        
        </div>        
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-outline btn-success" [disabled]="positionForm.invalid" (click)="save()">Save
          <i class="fa fa-save"></i>
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline btn-info" [routerLink]="['../list']">Back
          <i class="fa fa-backward"></i>
        </button>        
    </div>
  </form>
  </div>
  
  