<div class="panel panel-primary">
  <div class="panel-heading">
      Create Category
  </div>
  <!-- /.panel-heading -->
  <form [formGroup]="categoryForm">
  <div class="panel-body alert-info">
      
        <div class="col-lg-6">                            
                        
          <div class="form-group">
            <label>Category Nmae</label>
            <input class="form-control" formControlName='companycategory' placeholder="Category Name" [(ngModel)]="categoryForm.value.companycategory" uppercase>
            <div style="font-size: 10px; color: red;" *ngIf="(categoryForm.controls['companycategory'].touched || categoryForm.controls['companycategory'].dirty) && !categoryForm.controls['companycategory'].valid">                                                                          
                <span *ngIf="categoryForm.controls['companycategory'].hasError('required') ">  
                  Please enter country code.
                </span> 
                <span *ngIf="categoryForm.controls['companycategory'].hasError('minlength') ">  
                    Country code min length is 3.  
                </span>  
                <span *ngIf="categoryForm.controls['companycategory'].hasError('maxlength') ">  
                  Country code max length is 250.  
               </span>                                                                                                                       
            </div>
          </div>                                   
      </div>
                          
  </div>
  <div class="panel-footer">
      <button type="button" class="btn btn-outline btn-success" [disabled]="categoryForm.invalid" (click)="saveCategory()">Save
        <i class="fa fa-save"></i>
      </button>
      &nbsp;
      <button type="button" class="btn btn-outline btn-info" [routerLink]="['../list']">Back
        <i class="fa fa-backward"></i>
      </button>
      
  </div>
</form>
</div>

